 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Irvine Coding Club is a coding club by students in Irvine. This club is the perfect starting point if you are a student looking to learning programming. </p>
                </div>
                <div class="col-lg-4">
                    <p>The club sponsors various programs including webinars, programming tutorials as well as coding contests for all students in orange county.  </p>
                </div>
            </div>
        </div>
    </section>
